
p{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.main{

    width: 1040px;
    height: 130px;
    background-color: white;
    border: 4px solid #F9DAD3;
    padding: 0;
    color: #3144B4;
}

.imgdiv{
    min-width: 346px;
}
.image{

    margin: 11px 0px 11px 10px;
    overflow: hidden;
}

.image img{

    width: 100px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    object-position: center top;
    transform: scale(1.15);
}

.name{
    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    
}
.name h2{

    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    letter-spacing: -0.02em;

}

.age{
    min-width: 136px;
    border-left: 2px solid #F9DAD3;
}
.age-main{
    min-width: 136px;
}
.occupation{
    min-width: 218px !important;
    border-left: 2px solid #F9DAD3;
    
}
.occu-main{
    min-width: 218px
}

.address{
    min-width: 337px;
    border-left: 2px solid #F9DAD3;
}
.addr-inner{
    min-width: 330px;
}

.addr-inner p{
    margin-left: 43px;
}

.addr-inner input[type="checkbox"]{

    width: 26px;
    height: 26px;
    margin-right: 40px;
    box-shadow: none;
}
.form-check-input:checked{

    outline: 4px solid rgba(49, 68, 180, 0.5);
    border-radius: 0.5px;
    background-color: #3144B4;
    box-shadow: none;
}
.table{
    margin: 1px solid blue;
}
.selected-state{
    border:4px solid #3144B4
}

@media  screen and (max-width:480px) {
    
    .main{
        width: 100%;
        height: auto;
        background-color: white;
        border: 4px solid #F9DAD3;
        padding: 0;
        flex-direction: column;
        position: relative;
    }

    .image{

        margin: 16px;
        overflow: hidden;
    }
    
    .image img{

        width: 112px;
        height: 100%;
        padding: 0;
        object-fit: contain;
        overflow: hidden;
        transform: scale(1);
    }

    .imgdiv .name{
        margin: 0px;
        height: 100px;
        position: relative;
        top: 24px;
        left: 0px;
    }
    .name h2{
    
        font-family: 'Sora';
        font-style: normal;
        font-weight: 800;
        font-size: 24px;
        letter-spacing: -0.02em;
        margin: 0;
    }
    .age{
        min-width: 136px;
        border:none;
        justify-content: end;
        position: absolute;
        top: 92px;
        left: 144px;
    }
    .age-main{
        min-width: 136px;
        justify-content: flex-start !important;
    }
    .occupation{
        min-width: 218px !important;
        border:none;
        justify-content: flex-start !important;
        position: absolute;
        top: 92px;
        left: 212px;
    }
    .occu-main{
        min-width: auto;
        justify-content: flex-end !important;
    }
    .address{
        min-width: 337px;
        border:none;
        position: absolute;
        left: 66px;
        top: 114px;
    }
    .addr-inner{
        min-width: 330px !important;
        justify-content: center !important;
    }
    
    .addr-inner p{
        min-width: 176px !important;
        margin-left: 0px;
    }

    .addr-inner input[type="checkbox"]{

        width: 32px;
        height: 32px;
        margin-right: 0;
        box-shadow: none;
        position: absolute;
        right: 36px;
        bottom: -32px;
        border: none;
    }
    .form-check-input:checked{
    
        outline: none;
        border-radius: 0.5px;
        background-color: #3144B4;
        box-shadow: none;
    }
    .selected-state{
        border:4px solid #3144B4
    }
    
}

@media screen and (max-width:450px) {
 
    .age{
        min-width: 136px;
        border:none;
        justify-content: end;
        position: absolute;
        top: 90px;
        left: 144px;
    }
    .age-main{
        min-width: 136px;
        justify-content: flex-start !important;
    }
    .occupation{
        min-width: 218px !important;
        border:none;
        justify-content: flex-start !important;
        position: absolute;
        top: 110px;
        left: 143px;
    }
    .occu-main{
        min-width: auto;
        justify-content: flex-end !important;
    }
    .address{
        min-width: 337px;
        border:none;
        position: absolute;
        left: 66px;
        top: 132px;
    }
    .addr-inner input[type="checkbox"]{

        width: 32px;
        height: 32px;
        margin-right: 0;
        box-shadow: none;
        position: absolute;
        right: 50px;
        bottom: -15px;
        border: none;
    }
}