<div class="card-container row">
  <div class="col-12 col-md-4 col-sm-6" *ngFor="let element of users">
    <!--  <div class="col-4" (mouseover)="showCheckbox=true" (mouseout)="showCheckbox=false"></div> -> -->
    <div
      class="image-card"
      (mouseenter)="showCheckbox = true"
      (mouseleave)="showCheckbox = false" onclick="clickHandler(this)"
        id="imageId" 
      
    >
      <img
        class="card-img"
        src="assets/images/parvatham.svg"
        alt="Card image"
       
      />
      <div class="card-img-overlay">
        <div class="text">
          <h4>
            {{ element.firstname + " " + element.lastname }}
          </h4>
          <p>
            {{element.age +" years " +element.occupation +" " + element.location }}
          </p>
        </div>
          <div class="check">
            <input *ngIf="showCheckbox" type="checkbox" class="form-check-input"
          />
          </div>
      </div>
    </div>
  </div>
</div>
<!-- onclick="mark(imageId)" -->