.image-card {
  border: 15px solid white;
  position: relative;
  margin-top: 20px;
  // padding-bottom: 40px;
  
}
.card-container {
  background-color: #f9dad3;
  // display: flex;
  // flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
}
.form-check-input {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.text {
  bottom: 0;
  position: absolute;
}
h4 {
  font-size: 28px;
  font-family: sora;
  font-weight: 800;
}
p {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.card-img-overlay {
  position: absolute;
  bottom: 0;
  background-image: linear-gradient(transparent 60%,  #3144B4);
  color: #f9dad3;
}
