<p-sidebar [(visible)]="visibleSidebar2" [style]="{width:'43em'}" styleClass="p-sidebar" position="right" [baseZIndex]="10000">
    <div class="count d-flex justify-content-end align-items-center">
        <h2>Selected</h2><p>0{{userselected.length}}/04</p>
    </div>
    <div *ngFor = "let user of userselected;index as i" class="select">
        <div class="innerselect mx-auto d-flex">
            <img src="../../../assets/images/Rectangle 1.png" alt="">
            <span class="selectname">
                <h2>{{user.firstname}}     {{user.lastname}}</h2>
                <p>{{user.age}}Years,{{user.occupation}}</p>
                <p>{{user.location}}</p>
            </span>
            <div class="svg" (click) = "delete(user.persona_id,i)">
                <img src="assets/images/deleteIcon.svg" alt="DeleteIcon">
            </div>
        </div>
    </div>
    <div class="btn d-flex justify-content-center align-items-center">
        <button type="submit" style="color: #3144B4;" (click) = "download()">Download Real Persona</button>
    </div>
</p-sidebar>
