 <div class="dashboard-container">
     
    <div class="filter-sticky col-12"  [ngClass]="{'document:wheel':showHeader }" *ngIf="showHeader ">
        <table class=" table  sticky-layout ">
            <thead> 
            <tr class="table-row">
                <td class=" col-2 sticky-image">
                    <img class="sticky-image" src="assets\images\heading image.svg" alt="">
                </td>
                <td class="col-2" for="age" > Age  <br> 
                 <span class="select"   >
                    <select name="form-select" id=""  [(ngModel)]="user.age" class="select-inner col-10"  >
                        <option class="drop-down" value="18-30" > 18 - 30</option>
                        <option class="drop-down" value="30-45"> 30 - 45 years</option>
                        <option class="drop-down" value="45-60"> 45 - 60 years</option>
                        <option class="drop-down" value="60-80"> 60 - 80 years</option>    
                    </select>
                 </span>  
               </td>
                <td class="col-2"  for="gender"> Gender <br>
                    <span class="select">
                        <select name="form-select" id="" [(ngModel)]="user.gender"class="select-inner col-10">
                            <option class="drop-down" value="Male">Male</option>
                            <option class="drop-down" value="Female">Female</option>
                        </select>
                     </span>  
                </td>
                <td class="col-2" for="location"> location <br>
                    <span class="select">
                        <select name="form-select" id="" [(ngModel)]="user.location" class="select-inner col-10">
                            <option class="drop-down" value="Karnataka">Karnataka</option>
                            <option class="drop-down" value="Tamilnadu">Tamilnadu</option>
                            <option class="drop-down" value="Andhra pradhesh">Andhra pradhesh</option>
                            <option  class="drop-down" value="Maharastra"> Maharastra</option>
                        </select>
                     </span>  
                </td>
                <td class="col-2" for="occupation"> occupation <br>
                    <span class="select">
                        <select name="form-select" id=""  [(ngModel)]="user.occupation" class="select-inner col-10">
                            <option class="drop-down" value="Farmer">Farmer</option>
                            <option class="drop-down" value="Doctor">Doctor</option>
                            <option class="drop-down" value="Student">Student</option>
                            <option class="drop-down" value="Engineer">Engineer</option>
                        </select>
                     </span>  
                </td>
                <td class="sticky-clear col-2">
                    <label class="sticky-clear" (click)="cleareFilter()">Clear Filters</label>
                    <app-download [userselected] ="userDetails" class="downlod-layout  "></app-download>
                </td>
            </tr>
           </thead>
        </table>   
    </div>

    <div class="dashboard-inner-container" >
        <div class="text-small col-2 ml-32">
            <p>Crafted with <span class="love-text"><img src="assets\images\love.svg" alt=""> love</span> by Lollypop design tribe.</p>
        </div>
        <div class="text-large col-10 ml-32">
             <span> Real <img src="assets\images\heading image.svg" alt=""> people  <br> for your persona</span>
        </div>
        
        <div class="position-relative col-10 table-main-div mt-48" >
            <div class="filter-layout ml-32   col-10" >
                <table class="table table-layout">
                    <thead> 
                    <tr class="table-row">
                        <td class="col-3" for="age" > Age  <br> 
                         <span class="select"   >
                            <select name="form-select" id=""  [(ngModel)]="user.age" class="select-inner col-10"  >
                                <option class="drop-down" value="18-30" > 18 - 30</option>
                                <option class="drop-down" value="30-45"> 30 - 45 years</option>
                                <option class="drop-down" value="45-60"> 45 - 60 years</option>
                                <option class="drop-down" value="60-80"> 60 - 80 years</option>    
                            </select>
                         </span>  
                       </td>
                        <td class="col-3"  for="gender"> Gender <br>
                            <span class="select">
                                <select name="form-select" id="" [(ngModel)]="user.gender"class="select-inner col-10">
                                    <option class="drop-down" value="Male">Male</option>
                                    <option class="drop-down" value="Female">Female</option>
                                </select>
                             </span>  
                        </td>
                        <td class="col-3" for="location"> location <br>
                            <span class="select">
                                <select name="form-select" id="" [(ngModel)]="user.location" class="select-inner col-10">
                                    <option class="drop-down" value="Karnataka">Karnataka</option>
                                    <option class="drop-down" value="Tamilnadu">Tamilnadu</option>
                                    <option class="drop-down" value="Andhra pradhesh">Andhra pradhesh</option>
                                    <option  class="drop-down" value="Maharastra"> Maharastra</option>
                                </select>
                             </span>  
                        </td>
                        <td class="col-3" for="occupation"> occupation <br>
                            <span class="select">
                                <select name="form-select" id=""  [(ngModel)]="user.occupation" class="select-inner col-10">
                                    <option class="drop-down" value="Farmer">Farmer</option>
                                    <option class="drop-down" value="Doctor">Doctor</option>
                                    <option class="drop-down" value="Student">Student</option>
                                    <option class="drop-down" value="Engineer">Engineer</option>
                                </select>
                             </span>  
                        </td>
                    </tr>
                   </thead>
                </table>       
            </div>
            <div class="table-back image-backgroud-layout col-12 row align-items-end">
                <div class="col-8">
                    <img class="w-100 h-100"src="assets\images\table-background.svg" alt="">
                </div>
                <div class="col-4 ">
                    <label class="clear" (click)="cleareFilter()">Clear Filters</label>
                </div>   
             </div> 
            <div id="bottons" class="row col-12 bottom-text-layout ">
                <div class="col-6">
                    <label for="" class="small-text">displaying</label>
                    <p class="person-text"> {{users.length}}  personas</p>
                </div>
                <div class="col-6 buttons ">
                    <button class="button submit-text col-3" [ngClass]="{'submit-text2':isShow}"  (click)="taggleCard()"><img src="assets\images\card.svg" alt=""> Card</button>
                    <button class="button submit-text col-3"  [ngClass]="{'submit-text2':!isShow}"  (click)="taggleTable()" > <img src="assets\images\table.svg" alt="">  Table</button>
                </div>
             </div>
        </div>
        <div class="row table-card mt-48">
            <span *ngIf="isShow" > 
                <app-cards [userDetails]="users" (outputFromCards) = "receiveCardData($event)"></app-cards>
             </span>
             <span *ngIf="!isShow"> 
                <app-table [userDetails]="users" (selecteduser) = "reciveTableData($event)"></app-table>
             </span>
        </div> 
     </div> 
 </div>
 <div>
     <button onclick="passData()" class="del"><img src="assets\images\download.svg" alt=""></button>
 </div>
 
 

 